body,html,body>div:first-child{
    height: 100%;
    padding: 0px;
    margin: 0px;
}
#nav,#正文 {
    /* display: inline-block */
}
#nav {
    background-color: slategrey;
    width: 300px;
    height: 100%;
    /* display: flex; */

}
#navTitle{
    /* background-color: steelblue; */
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
}
ul {
    padding-left: 20px;
    padding-top: 5px;
    list-style-type: none;
}
#正文 {
    /* width: ; */
    background-color: steelblue;
    height: 100%;
    width: auto;
    
}